<section id="register">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Register</h1>
        <form #registerForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input [(ngModel)]="formData.username" 
              #username="ngModel"
              name="username"
              type="text"
              class="form-control"
              id="username"
              required>
              <div *ngIf="username.invalid && (username.dirty || username.touched)"
                class="alert alert-danger">
                <div *ngIf="username.errors.required">
                  Username is required.
                </div>
              </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="formData.email"
              #email="ngModel"
              name="email"
              type="email"
              class="form-control"
              id="email"
              required>
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="alert alert-danger">
                <div *ngIf="email.errors.required">
                  Email is required.
                </div>
              </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="formData.password" type="password"
              #password="ngModel"
              name="password"
              class="form-control"
              id="password"
              required>
              <div *ngIf="password.invalid && (password.dirty || password.touched)"
                class="alert alert-danger">
                <div *ngIf="email.errors.required">
                  Password is required.
                </div>
              </div>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label>
            <input [(ngModel)]="formData.passwordConfirmation" type="password"
              #passwordConfirmation
              name="passwordConfirmation"
              class="form-control"
              id="passwordConfirmation"
              required>
              <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
              class="alert alert-danger">
              <div *ngIf="passwordConfirmation.errors.required">
                Please confirm your password.
              </div>
            </div>
          </div>
          <button [disabled]="!registerForm.form.valid"
            (click)="register()" 
            type="submit" 
            class="btn btn-bwm">
            Submit
          </button>
        </form>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">As our member you have access to most awesome places in the world.</h2>
          <img src="assets/images/register-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
