<!--The content below is only a placeholder and can be replaced.-->
<bnb-header></bnb-header>
<div class="container">
  <div class="form-inline">
      <input #citySearch
        (keyup.enter)="search(citySearch.value)"
        class="form-control mr-sm-2 bnb-search"
        type="search"
        placeholder="Search"
        aria-label="Search"/>
      <button (click)="search(citySearch.value)"
        class="btn-bnb-search btn btn-outline-success my-2 my-sm-0"
        type="button">Search
      </button>
    </div>
  <router-outlet></router-outlet>
</div>
