<section id="rentalDetails" *ngIf="rental">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-8">
        <img src="{{rental.image}}" alt="">
      </div>
      <div class="col-md-4">
        <bnb-map [location]="rental.city + ' ' + rental.street">
        </bnb-map>
        <bnb-rental-booking [rental]="rental">
        </bnb-rental-booking>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="rental">
          <h1 class="rental-title">{{rental.title}}</h1>
          <h2 class="rental-city">{{rental.city | uppercase}}</h2>
          <div class="rental-room-info">
            <span><i class="fa fa-building"></i>{{rental.space}} ft²</span>
            <span><i class="security"></i> {{rental.surveillance ? 'With Surveillance' : 'No Surveillance'}}</span>
          </div>
          <p class="rental-description">
            {{ rental.description }}
          </p>
          <hr>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rental-assets">
          <h3 class="title">Assets</h3>
          <div class="row">
            <div class="col-md-6">
              <span><i class="fa fa-asterisk"></i> HVAC</span>
              <span><i class="fa fa-thermometer"></i> Heating</span>
              <span><i class="fa fa-location-arrow"></i> Iron</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
